.accordianContainer {
  display: block;

  .accordianHeader {
    display: flex;
    cursor: pointer;
    padding: 5px;

    .accordianHeaderTitle {
      display: flex;
      margin-left: 5px;
    }
  }

  .displayPanel {
    display: block;
    padding: 5px 10px;
  }

  .hidePanel {
    display: none;
  }
}