.tabContainer {
  .tabsNavContainer {
    .tabLists {
      .tabList {

        &.activeTab {
          border-bottom: 2px solid #ddd;
        }

        &.nonActive {
          opacity: .8;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .tabsContnentContainer {
    display: block;
  }
}
