.tabsContainer {
  .tabListContainer {
    display: flex;
  
    .tabContainer {
      cursor: pointer;
      padding: 10px;
  
      &.activeTab {
        opacity: 1;
  
        &:after {
          border: 1.5px solid #000;
        }
      }
  
      &.deactiveTab {
        opacity: 0.7;
      }
  
      &:hover {
        opacity: 1;
        //border-bottom: 2px solid #ddd;
  
        &:after {
          border: 1.5px solid #000;
        }
      }
  
      &:after {
        content: "";
        color: #000;
        display: block;
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 4px;
      }
    }
  }

  .tabContentContainer {
    display: block;

    .tabContent {
      display: block;
    }
  }
}