
.topnav {
  background-color: #333;
  overflow: hidden;
}
.navItem {
  float: left;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 8px 16px;

  > a {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    background-color: #ddd;
    color: black;
  }
}

.navItem.active {
  background-color: #04aa6d;
  color: #fff;
}
