.carouselContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;

  .carouselSlide {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 2.2rem;
    display: flex;

    .carouselTextSection {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
    }

    .carouselMediaSection {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .mediaControls {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .carouselControls {

    .carouselControlsLeft, .carouselControlsRight {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      transform: translate(0px, -50%);
      background: rgba(0, 0, 0, .3);
      padding: 5px 10px;
      color: white;
      font-weight: 300;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;

      &:hover {
        background-color: rgba(0,0,0,0.8);
      }
    }

    .carouselControlsRight {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
  }

  .carouselDotControls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 25px;

    .carouselDotControlItem {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 2px;
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.6s ease;

      &:hover, &.active {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }

  }
}