.tableComponent {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;

  .tableTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .tableControlsContainer {
    display: flex;
    // border: 1px solid #aaa;
    padding: 0.5rem;
    border-bottom: 0px;
    justify-content: end;
    -moz-box-align: end;
    align-items: center;
    border-radius: 4px 4px 0px 0px;

    .searchContainer {
      display: flex;
      flex-direction: column;
      margin-right: 1rem;

      .searchInput {
        width: 100%;
        border: 1px solid #ccc;
        padding: 0.5rem;
        border-radius: 0.25rem;
      }
    }
    .tableSettings {
      padding: 0 0 0 1rem;
      font-size: 16px;
    }
  }

  .paginationContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;

    > div {
      padding: 0 10px;
    }

    .pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      color: #000;
      font-size: 16px;

      .deactive {
        color: #ddd;
      }
    }
  }

  .tableContainer {
    position: relative;
    width: 100%;
    min-height: 0px;
    // border: 1px solid #aaa;
    border-radius: 0px 0px 4px 4px;

    .showSettings {
      display: block !important;
    }

    .settingsContainer {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 1;
      background-color: rgba(255, 255, 255, .9);
      border-left: 1px solid #aaa;
      border-radius: 4px 0px 0px 4px;
      display: none;
      width: 50%;
      height: 100%;
      overflow: auto;

      .settingsTitle {
        font-weight: 500;
        padding: 0.5rem;
      }
      
      .settingsRow {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
      }

      .settingsActions {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem;
      }
    }

    .tableOverflow {
      position: relative;
      width: 100%;
      border-radius: inherit;
      overflow: auto hidden;

      .tableContent {
        display: table;
        position: relative;
        box-sizing: border-box;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: 100%;
        color: rgba(0, 0, 0, 0.87);
        background-color: rgb(255, 255, 255);
  
        .rowStyle {
          border-bottom: 1px solid #ddd;
          min-height: 48px;
          align-items: center;
        }
    
        .tableHeader {
          display: flex;
          border-bottom: 1px solid #ddd;
      
          .tableHeaderItem {
            flex: 1;
            margin: 0.5rem;
            display: flex;
            justify-content: start;
            align-items: center;
            position: relative;

            .tableHeaderContent {
              display: flex;
              cursor: pointer;
              font-weight: 500;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;

              .tablerHeaderItemLabel {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
  
              .sortableIcons {
                color: #ddd;
                display: flex;
                padding: 0 5px;
              }
  
              &:hover .sortableIcons, .sortableIcons.sortableIconActive {
                color: #000;
              }
            }

            .dragBorder {
              border: 1px solid #ddd;
              height: 100%;
              position: absolute;
              right: 0px;

              &:hover {
                border-color: #000;
                cursor: ew-resize;
              }
            }
          }
        }
        .tableRows {
          .tableRow {
            display: flex;
            
            
            .tableRowItem {
              flex: 1;
              margin: 0.5rem;
            }
          }
        }
      }
    }
  }
}
