.popeverContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    &.show {
        display: flex;
    }

    &.hide {
        display: none;
    }

    .container {
        width: 400px;
        height: auto;
        background-color: #ffffff;
        border-radius: 5px;
        border: 1px solid #000;
        padding: 10px;
    }

    .footerSection {
        display: flex;
        justify-content: end;
        padding: 10px 10px;
    }
}
