.gridContainer {

  .gridRowContainer {
    display: flex;
    box-sizing: border-box;

    .columnContainer {
      display: block;
      width: 100px;
      height: 100px;
      border: 1px solid #000;

      &.columnDisabled {
        display: block;
      }

      &.columnActive {
        display: block;
        background-color: #7c0909;
      }
    }

  }
}
