.tooltipContainer {
  position: relative;

  .toolTipText {
    visibility: hidden;
    width: 180px;
    position: absolute;
    background-color: #555;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      border-width: 7px;
      border-style: solid;
    }
  }

  &:hover .toolTipText {
    visibility: visible;
    opacity: 1;
  }

  .toolTipText.top {
    bottom: 130%;

    &::after {
      top: 100%;
      border-color: #555 transparent transparent transparent;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .toolTipText.bottom {
    top: 130%;

    &::after {
      bottom: 100%;
      top: auto;
      border-color: transparent transparent #555 transparent;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .toolTipText.left {
    right: 100%;
    transform: translate(-5%, -50%);
    top: 50%;

    &::after {
      left: 100%;
      border-color: transparent transparent transparent #555;
      top: 50%;
      transform: translate(0%, -50%);
    }
  }

  .toolTipText.right {
    left: 100%;
    transform: translate(5%, -50%);
    top: 50%;

    &::after {
      right: 100%;
      border-color: transparent #555 transparent transparent;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
